#include "qcom-msm7x30-semc-mogami.dtsi"

#include <dt-bindings/input/input.h>

/ {
	model = "SEMC Xperia Ray";
};

&i2c0 {
	clearpad@2C {
		compatible = "synaptics,i2c-clearpad";
		reg = <0x2C>;
		interrupt-parent = <&tlmm>;
		interrupts = <42 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&clearpad_gpios>;

		vdd-supply = <&ldo20>;
		vio-supply = <&ldo8>;

		pointer {
			syn,x1 = <0>;
			syn,y1 = <0>;
			syn,x2 = <479>;
			syn,y2 = <853>;

			syn,pointer;
		};

		bottom-edge {
			syn,x1 = <0>;
			syn,y1 = <854>;
			syn,x2 = <479>;
			syn,y2 = <863>;

			syn,bottom-edge;
		};

		back-key {
			syn,x1 = <0>;
			syn,y1 = <884>;
			syn,x2 = <159>;
			syn,y2 = <921>;

			syn,button;
			linux,type = <0x01>;
			linux,code = <158>;
		};

		back-key-inbound {
			syn,x1 = <0>;
			syn,y1 = <884>;
			syn,x2 = <179>;
			syn,y2 = <921>;

			syn,button-inbound;
			linux,type = <0x01>;
			linux,code = <158>;
		};

		menu-key {
			syn,x1 = <320>;
			syn,y1 = <884>;
			syn,x2 = <479>;
			syn,y2 = <921>;

			syn,button;
			linux,type = <0x01>;
			linux,code = <139>;
		};

		menu-key-inbound {
			syn,x1 = <300>;
			syn,y1 = <864>;
			syn,x2 = <479>;
			syn,y2 = <921>;

			syn,button-inbound;
			linux,type = <0x01>;
			linux,code = <139>;
		};
	};

	as3676@40 {
		als-wait = <100>;

		lcd-backlight {
			label = "lcd-backlight";
			max-current = <20000>;
			hw-max-current = <20000>;
			default-brightness = <255>;
			sink-01;
			flag-pwm-ctrl;
			flag-pwm-init;
			flag-wait-resume;
		};

		torch {
			label = "torch";
			max-current = <30000>;
			hw-max-current = <30000>;
			sink-30;
			sink-31;
		};

		red {
			label = "red";
			max-current = <2400>;
			hw-max-current = <20000>;
			sink-41;
			flag-rgb;
			flag-blink;
		};

		green {
			label = "green";
			max-current = <4200>;
			hw-max-current = <20000>;
			sink-42;
			flag-rgb;
			flag-blink;
		};

		blue {
			label = "blue";
			max-current = <3000>;
			hw-max-current = <20000>;
			sink-43;
			flag-rgb;
			flag-blink;
		};
	};
};

&pmicintc {
	keypad@148 {
		linux,keymap = <
			MATRIX_KEY(0, 0, KEY_BACK)
			MATRIX_KEY(0, 1, KEY_HOME)
			MATRIX_KEY(0, 2, KEY_MENU)
			MATRIX_KEY(0, 3, KEY_VOLUMEUP)
			MATRIX_KEY(0, 4, KEY_VOLUMEDOWN)
			>;
		keypad,num-rows = <1>;
		keypad,num-columns = <5>;
		wakeup-source;

		pinctrl-names = "default";
		pinctrl-0 = <&pm8058_keypad_gpios>;
	};
};

&msm_i2c_gpios {
	i2c_sclsda {
		drive-strength = <8>;
	};
};

&msm_i2c_io_gpios {
	i2c_sclsda {
		drive-strength = <8>;
	};
};

&sdc4_gpios {
	sdc4_clkdat {
		drive-strength = <4>;
	};
};

&tlmm {
	clearpad_gpios: clearpad_gpios {
		clearpad_irq {
			pins = "gpio42";
			function = "gpio";
			bias-pull-up;
			drive-strength = <2>;
			input-enable;
		};
	};
};
